.app {
  display: flex;
  flex-direction: column;
}

.nasa-logo {
  margin-right: 25vw;
  margin-left: 25vw;
  margin-bottom: 0;
  height: 20vw;
  width: auto;
}

/* Media query */

@media only screen and (max-width: 808px) {
  .nasa-logo {
    height: 30vw;
    margin-bottom: 5vw;
  }
}