p {
  text-align: center;
}

.search-results__images {
  margin: 60px auto;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: auto;
  width: 1400px;
}

.card-image {
  max-height: 450px;
  max-width: 450px;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 808px) {
  .search-results__images {
    display: block;
    max-width: 80%;
    margin-top: 6vw;
  }

  .card-image {
    max-width: 100%;
    margin-bottom: 3vw;
  }
}